.App {
  width: 100%;

  background-image: url('https://source.unsplash.com/random/?forest,night');
  object-fit: cover;
  background-size: cover;
}

.glass {
  backdrop-filter: blur(10px) saturate(164%);
  -webkit-backdrop-filter: blur(10px) saturate(164%);
  background-color: rgba(52, 103, 81, 0.33);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
form {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
input {
  width: fit-content;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
}

.previewCanvasContainer {
  position: absolute;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px solid #c2968a; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.previewCanvasContainer > canvas {
  width: 100% !important;
  height: 100% !important;
}
.previewCanvasContainer > .UI {
  position: absolute;
  bottom: 5%;
  display: flex;
  gap: 1em;
}
.timerP {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 4rem;
}
